<link rel="stylesheet" href="/css/home.css">
<ul id="students-list">
    <% for (let student of students) { %>
        <li class="student" id="<%= student._id%>">
            <div class="left-side">
                <h2>
                    <%= student.name %>
                </h2>
                <span class="inline">
                    <h2>College:</h2>
                    <h4>
                        <%= student.college %>
                    </h4>
                </span>
                <span class="inline">
                    <h2>Batch:</h2>
                    <h4>
                        <%= formatDate(student.batch) %>
                    </h4>
                </span>
                <span class="inline" class=" col-md-3">
                    <h3>Status:</h3>
                    <select name="status" class="status-select" data-student-id="<%= student._id %>">
                        <option value="placed" <%=student.status==='placed' ? 'selected' : '' %>>Placed</option>
                        <option value="not_placed" <%=student.status==='not_placed' ? 'selected' : '' %>>Not Placed
                        </option>
                    </select>
            </div>
            <div class="right-side">
                <span class="inline">
                    <h3>DSA Score:</h3>
                    <p>
                        <%= student.course_scores.DSA_Score %>
                    </p>
                </span>
                <span class="inline">
                    <h3>WebD Score:</h3>
                    <p>
                        <%= student.course_scores.DSA_Score %>
                    </p>
                </span>
                <span class="inline">
                    <h3>React Score:</h3>
                    <p>
                        <%= student.course_scores.DSA_Score %>
                    </p>
                </span>
                <span class="inline">
                    <h3>Student ID:</h3>
                    <p>
                        <%= student._id %>
                    </p>
                </span>
            </div>
        </li>
        <% } %>
</ul>

<script src="/scripts/student.js"></script>